.dashboardHome{
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 100vh;
    padding: 30px;
    background-color: #FBFBFB;
}
.intro{
    margin-top: 15vh;
    display: block;
    padding: 20px;
    height: auto;
    width: 100%;
}
.intro h2{
    padding-bottom: 10px;
}
.data_view{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.containerDataDashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4F4F4F;
    color: #FBFBFB !important;
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

.data_view{
    padding: 0 20px;
}

.changeData{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #FBFBFB;
}
.updateSectionInput{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.changeData button{
    margin-top: 10px;

}

/* meadia query */
@media screen and (min-width:769px){
    
    .changeData form{
        display: flex;
        width: 60%;
        align-items: center;
        justify-content: space-evenly;
    }

}