footer{
    display: flex;
    height: 20vh;
    background-color: var(--red);
    align-items: center;
    justify-content: space-around;
    color: var(--bg-w);
}

@media screen and (max-width:768px) {
    footer{
        flex-direction: column;
    }
}